@import "includes/colors";
@import "includes/settings";
@import "includes/card-size";

.wc-custom-menu {
    opacity: 0;
    z-index: -10;
}

.wc-custom-menu.wc-custom-menu-show {
    opacity: 1;
    z-index: 0;
}

.wc-custom-menu-toggle button {
    background: url('../img/s_toggle_custommenu_up.svg') no-repeat;
    background-size: contain;
    height:80%;
    margin-bottom: -25px;
}

.wc-custom-menu-toggle.wc-custom-menu-show button {
    background: url('../img/s_toggle_custommenu_dwn.svg') no-repeat;
    background-size: contain;
    margin-bottom: 0;
}

.wc-transition-on {
    transition: bottom 0.2s, opacity 0.1s;
}